html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c2141;
}

.main {
  width: 45%;
  margin: 16px;
  background-color: #f8f8f8;
  border-radius: 16px;
}
